@font-face {
  font-family: montserrat;
  src: url(../css/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: bold;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: montserrat;
}

.welcome1 {
  position: absolute;
  width: 90%;
  height: 170px;
  top: 50vh;
  background-color: #352641;
  border-radius: 5px 0px 0px 80px;
  right: 0px;
  margin: auto;
  padding: 0px 35px;
}

.getStartedBtn {
  position: absolute;
  width: 60%;
  height: 50px;
  top: 140px;
  background-color: #d47fa6;
  border-radius: 50px 0px 0px 50px;
  right: 0px;
}

.welcomeText {
  padding: 5px;
  margin: auto;
}

.welcomeText h5 {
  font-size: 14px;
  color: white;
  padding: 0px;
}

.welcomeText h2 {
  font-size: 35px;
  color: white;
  padding: 0px;
}

.getStartedBtn h5 {
  color: white;
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
}

.welcomeImg img {
  height: 500px;
}

.signupPage {
  position: relative;
  height: 45vh;
  background-color: #8a56ac;
  border-radius: 0px 0px 0px 100px;
  text-align: center;
}

.formPanel {
  position: absolute;
  text-align: center;
  top: 0px;
  /* left: 25px; */
  padding-top: 25vh;
  /* width: 150px; */
  /* padding-left: 15px; */
  margin: auto;
}

.formPanel ul {
  /* text-align: center; */
  margin: auto;
  padding-bottom: 30px;
  width: 100%;
  padding: 0px 90px;
}

.formPanel li.active {
  font-weight: bolder;
  text-decoration: underline white;
  background-color: #8a56ac;
}

.formPanel a {
  color: #EEEEEE;
}

.form {
  width: 90%;
  height: auto;
  background-color: #EEEEEE;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  padding: 40px 0px;
}

.form input[type="email"],
input[type="text"],
input[type="password"]
{
  width: 80%;
  padding: 5px 10px;
  margin: 12px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  /* text-align: center; */
  font-size: 15px;
  background-color: #EEEEEE;
}

.signupInBtn {
  position: absolute;
  width: 80%;
  background-color: #8a56ac;
  color: white;
  padding: 10px 40px;
  margin: 8px 0;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  left: 20px;
  top: 350px;
  font-size: 18px;
}

.spiriUp1 {
  position: relative;
  top: 0px;
  z-index: 1;
  height: 150px;
  background-color: white;
  border-radius: 0px 0px 0px 60px;
  margin: 0px;
  padding: 20px;
}

.spiriUp1P {
  position: relative;
  top: 0px;
  z-index: 1;
  height: 300px;
  background-color: white;
  border-radius: 0px 0px 0px 60px;
  margin: 0px;
  padding: 20px;
}

.profileHead {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.profileHead h3 {
  margin-bottom: 3px;
  margin-top: 15px;
  /* position: relative; */
}

.profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* .spanPlus {
  width: 2px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #5f4591;
  color: white;
} */

.profilePic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profileFlex {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.biograph {
  padding: 15px 10px;
  margin: 20px;
  color: #EEEEEE;
}

.biograph p {
  font-size: 12px;
}

.profileContact {
  margin: 0px 30px;
}

.profileContact ul li {
  list-style: none;
  color: #EEEEEE;
  font-size: 12px;
}

.profileEdit {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  padding: 13px;
  font-size: 18px;
  margin: 0px 10px;
}

.logout {
  width: 100%;
  padding: 5px 10px;
  /* margin: 12px 0; */
  background-color: #8a56ac;
  color: white;
  padding: 10px 40px;
  margin: 22px 0;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.contactEdit {
  display: flex;
  justify-content: space-between;
}

.flexItem {
  padding: 20px 5px;
}

.flexItem h4 {
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 2px;
  font-weight: bolder;
}

.flexItem p {
  color: rgb(233, 225, 225);
  text-align: center;
  font-size: 10px;
}

.spiriUp {
  position: relative;
  height: 312px;
  background-color: #f378ed;
  border-radius: 0px 0px 0px 60px;
  /* text-align: center; */
}

.spiriUps {
  position: relative;
  height: 230px;
  background-color: #f378ed;
  border-radius: 0px 0px 0px 50px;
  /* text-align: center; */
}

.spiriUpP {
  position: relative;
  height: 380px;
  background-color: #8a56ac;
  border-radius: 0px 0px 0px 50px;
  /* text-align: center; */
}

.spiriUpp {
  position: relative;
  height: 310px;
  /* background-color: #8a56ac; */
  border-radius: 0px 0px 0px 60px;
  /* text-align: center; */
}

.backSearch {
  display: inline;
  overflow: none;
}

.backSearch p {
  float: left;
  width: 50%;
}
.counHead {
  padding: 10px 10px;
}

.counHead h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px 10px;
}
.counHead p {
  font-size: 10px;
  /* font-weight: bold; */
  margin: 0px 10px;
}
.coucCard {
  overflow: hidden;
  padding: 10px 30px;
  border: none;
  border-bottom: 1px solid rgb(107, 98, 98);
  border-radius: 0px 0px 0px 50px;
}

.notifCard {
  padding: 10px 30px;
  border: none;
  border-bottom: 1px solid rgb(107, 98, 98);
  border-radius: 0px 0px 0px 60px;
  margin: 0px;
}
.roundedImg {
  width: 25%;
  border-radius: 50%;
  float: left;
}

.roundedImg img {
  border-radius: 50%;
  width: 60px;
}

.coucText {
  width: 65%;
  float: left;
}

.coucBadge {
  width: 5%;
  float: left;
}

.notifCard h4 {
  font-size: 12px;
  font-weight: lighter;
  color: white;
  margin: 3px 0px;
  margin-top: 10px;
  font-weight: bolder;
}

.notifCard p {
  font-size: 10px;
  font-weight: bold;
  color: white;
  margin: 0px;
}

.coucText h4 {
  font-size: 16px;
  font-weight: lighter;
  color: white;
  margin: 5px 0px;
  margin-top: 10px;
}

.coucText p {
  font-size: 13px;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.convertsDetailText h4 {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin: 5px 0px;
}

.convertsDetailText p {
  font-size: 14px !important;
  color: white !important;
}

.coucBadge p {
  font-size: 12px;
  font-weight: lighter;
  color: white;
  margin: 5px 0px;
  margin-top: 10px;
}
.conflu {
  background-color: #352641;
  min-height: 500px;
  border-radius: 0px 0px 0px 70px;
}

.dashImg {
  position: absolute;
  width: 100%;
  padding: 130px 0px 0px 20px;
  z-index: 1;
  top: 75px;
  height: 250px;
  border-radius: 0px 0px 0px 60px;
  background-image: url(../img/assets/Thumbnail.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.spiriUp2 {
  position: fixed;
  top: 0px;
  z-index: 2;
  height: auto;
  background-color: white;
  border-radius: 0px 0px 0px 60px;
  padding: 5px 20px;
}

.proImg {
  border-radius: 50%;
  width: 100px;
  text-align: center;
}

.proImg img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
}

.convertsDetailImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-right: 20px;
}

.convertsDetailImg img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid gray;
}

.convertsDetail{
  background-color: #352641;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.favv {
  border-radius: 50%;
  width: 50px;
  text-align: center;
}

.favvfavv {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  font-size: 25px;
  color: gray;
  /* padding: 10px; */
  padding-top: 16px;
  text-align: center;
  line-height: 15px;
}

.collasP {
  font-size: 9px;
  color: gray;
  text-align: center;
  margin-top: 5px;
}
.welcomeNoti {
  overflow: hidden;
  width: 100%;
}
.leftDash {
  float: left;
  /* width: 70%; */
}

.leftDash h3 {
  font-size: 18px;
  color: white;
  padding: 0px 5px;
  margin: 5px;
}

.leftDash h1 {
  font-size: 30px;
  color: white;
  padding: 0px 5px;
  margin: 5px;
}

.rightDash {
  float: left;
  width: 30%;
  text-align: center;
}
.rightDash span {
  font-size: 30px;
  color: white;
}

.rightDash p {
  font-size: 12px;
  color: white;
}

.cardsDash {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* border-radius: 0px 0px 0px 70px; */
}

.cardsDash::-webkit-scrollbar {
  display: none;
}

.cardD {
  width: 50%;
  padding: 20px;
  margin: 10px;
  background-color: #998fa2;
  display: inline-block;
  height: auto;
  border-radius: 10px 40px 10px 40px;
}

.cardD h3 {
  width: 85%;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 5px !important;
  white-space: initial;
}

.cardD h2 {
  color: white;
  font-weight: bolder;
  margin-top: 5px !important;
  white-space: initial;
  text-align: center;
  font-size: 22px;
}

.cardD p {
  color: white;
  font-weight: lighter;
  margin: 0px !important;
}
.bottomCard {
  border-radius: 50px 50px 50px 50px;
  overflow: hidden;
  padding: 13px;
  background-color: #352641;
  /* height: 40px; */
  margin: 25px;
}

.btm1 {
  width: 20%;
  float: left;
  text-align: center;
}

.btm1icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #8a56ac;
  text-align: center;
  padding: 13px;
  font-size: 18px;
  color: white;
}

.btm3 {
  width: 20%;
  float: right;
  text-align: right;
  padding: 10px;
  font-size: 18px;
  color: white;
}

.btm2 {
  width: 60%;
  float: left;
}

.btm2 h3 {
  margin: 5px;
  color: white;
  font-size: 16px;
}

.btm2 p {
  margin: 3px;
  color: gray;
  font-size: 10px;
}

.studserHead {
  background-color: #5f4591;
  height: 160px;
  border-radius: 0px 0px 0px 70px;
  padding: 20px;
}

.studserHead h3 {
  color: white;
  padding-left: 30px;
  font-size: 25px;
  padding-top: 10px;
  font-weight: bolder;
}

.bottomCardSS {
  border-radius: 30px 30px 30px 30px;
  overflow: hidden;
  padding: 18px;
  background-color: #352641;
  margin: 18px;
  width: 88%;
}

.btmSS2 {
  width: 60%;
  float: left;
}

.btmSS2 p {
  margin: 3px;
  color: gray;
  font-size: 10px;
}

.floata {
  width: 100%;
  overflow: hidden;
}

.floata h3 {
  float: left;
  width: 80%;
  margin-top: 10px;
  color: white;
  font-size: 12px;
}

.floata h4 {
  float: right;
  width: 20%;
  margin-top: 10px;
  color: white;
  font-size: 11px;
}
.progress-bar {
  color: #8a56ac;
  border-radius: 50px 50px 50px 50px;
}

.progress {
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 5px;
  height: 15px;
}

.quizz {
  position: relative;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 70px;
  padding: 20px;
  margin-bottom: 30px;
}

.studyDetailsHead {
  position: relative;
  background-color: #241332;
  border-radius: 0px 0px 0px 70px;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.quizHead {
  padding: 15px 30px;
}

.detailsHead {
  padding: 15px 40px;
  padding-bottom: 0px;
}

.detailsHead h5 {
  color: gray;
  font-size: 16px;
  font-weight: lighter;
}

.details{
  padding: 0px 40px;
}

.details p {
  color: gray;
  font-size: 16px;
  margin: 0px 15px;
}

.details h3 {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.quizHead p {
  color: gray;
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 0px;
}

.quizHead h3 {
  color: black;
  font-size: 25px;
  margin: 0px;
  font-weight: bolder;
  margin-top: 15px;
}

.quizCard {
  background-color: #352641;
  border-radius: 50px 50px 50px 50px;
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 30px;
  height: auto;
}

.quizCardSm {
  background-color: #352641;
  border-radius: 50px 50px 50px 50px;
  margin-top: 20px;
  padding: 20px;
  overflow: hidden;
}

.quizCard h5 {
  color: white;
  margin-bottom: 15px;
  font-weight: bolder;
}

.quizCardSm h5 {
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-top: 25px;
}

#quizNote, #theQuestion{
  color: white;
  font-weight: bolder;
  text-align: center;
  margin: 25px;
  font-size: 1.9rem;
}

.quizCardSm #quizNo {
  color: white;
  font-weight: bolder;
  font-size: 5em !important;
}

.quizCard p {
  color: #EEEEEE;
  font-weight: lighter;
  font-size: 14px;
}

.quizStartBtn {
  background-color: #8a56ac;
  border-radius: 50px 50px 50px 50px;
  margin-top: 50px;
  padding: 5px;
  width: 100%;
  margin: auto;
}

.takeQuizBtn, .takeQuizBtnQuiz {
  background-color: #8a56ac;
  border-radius: 50px 50px 50px 50px;
  width: 80%;
  margin: auto;
}

.studyContent {
  color: white;
  text-align: justify;
}

.takeQuizBtn p, .takeQuizBtnQuiz p {
  color: #EEEEEE;
  font-size: 16px;
  margin: 0px;
}

.quizStartBtn p {
  color: #EEEEEE;
  font-size: 16px;
  margin: 0px;
}

.prevBtn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #352641;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  color: white;
}
.options {
  padding: 0px 35px 2vh 35px;
}
.options label {
  padding: 1.5vh 1vh;
  margin: 0.5vh 0px;
  font-size: 1.8rem;
  color: white;
  width: 100%;
  background-color: #352641;
  border-radius: 10px;
}

.options label span{
  margin-left: 4%;
}

.options input[type=radio]{
  border : 0px;
  width: 10%;
  height: 1.8rem;
}

.newActivity {
  background-color: #8a56ac;
  border-radius: 60px;
  padding: 5px;
  width: 40%;
  margin-top: 10px;
  margin-left: 220px;
  margin-right: 30px;
}

.newActivity p {
  margin: 0px;
  padding: 5px;
  color: white;
  text-align: center;
}

.taskCard {
  background-color: #352641;
  border-radius: 50px 50px 50px 50px;
  margin: 20px 5px;
  padding: 10px;
}

.taskCard p {
  margin: 2px;
  font-size: 13px;
  color: white;
}

.taskCard span {
  color: #b17fd3;
}

.vCenter {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.vCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.downTask {
  padding: 25px 45px;
  margin-top: 30px;
}

.grow h5 {
  margin-right: 25px;
  color: white;
  font-size: 15px;
}

.months {
  margin: 5px 10px;
  padding: 5px;
}

.month {
  text-align: center;
  color: grey;
}

.month p:active {
  background-color: #8a56ac;
  color: white;
  border-radius: 30px;
}

.studyImg {
  padding: 0px;
  margin: 12px 0px;
  background-image: url(../img/assets/Thumbnail-1.png);
  background-size: cover;
  height: 180px;
}
.studyDetails {
  margin: 5px 25px;
}

.studyDetails h3 {
  color: grey;
  font-size: 18px;
  font-weight: bolder;
}

.studyDetails p {
  color: white;
  font-size: 14px;
}

.thumbPicc {
  padding: 0px;
  margin: 15px 20px;
  background-image: url(../img/assets/Thumbnail-1.png);
  background-size: cover;
  border-radius: 40px;
  height: 180px;
}

.pow {
  padding: 0px;
  margin: 15px 20px;
  background-color: #352641;
  background-size: cover;
  border-radius: 40px;
  height: 180px;
}

.formPow {
  padding: 0px;
  margin: 20px 20px;
  background-color: #352641;
  border-radius: 30px 30px 30px 30px;
  text-align: center;
  padding: 40px 0px;
}

.formPow h5 {
  color: white;
  font-weight: bolder;
  text-align: left;
  padding-left: 25px;
}

.formPow input[type="text"], select, .profileEditPassword {
  width: 80%;
  padding: 5px 5px;
  margin: 12px 0;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid gray;
  /* text-align: center; */
  font-size: 16px;
  background-color: #352641 !important;
}

.powBtn {
  width: 90%;
  padding: 5px 10px;
  background-color: #8a56ac;
  color: white;
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
}

.imgText {
  padding-top: 110px;
  padding-left: 25px;
}

.imgText h5 {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  margin: 2px;
}

.imgText p {
  color: white;
  font-size: 14px;
  font-weight: lighter;
  margin: 2px;
}

/* Continue Page */
.continue {
  background-image: url(../img/assets/asset/img.png);
  background-size: cover;
  height: 60vh;
  border-radius: 0px 0px 0px 70px;
  margin-bottom: 1vh;
}
.continueToDashBoard {
  background-color: #241332;
  background-size: cover;
  height: 10vh;
  border-radius: 70px 0px 0px 70px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1vh;
}
.continueToDashBoard h3 {
  font-size: 17px;
  text-align: center;
  color: white;
  margin-top: 4vh;
}
.continueToDashBoard span {
  font-size: 17px;
  text-align: center;
  color: white;
  margin-top: 4vh;
}
.continue1 h3 {
  text-align: center;
  color: black;
  font-weight: bolder;
}
.continue1 p {
  text-align: center;
  color: gray;
  padding-left: 1vh;
  padding-right: 1vh;
  margin-bottom: 20px;
  font-weight: lighter;
}

.counsel {
  position: fixed;
  background-image: url(../img/assets/Thumbnail.png);
  background-size: cover;
  top: 0px;
  width: 100vw;
  height: 55vh;
  padding: 20px 30px;
}

.counsel1 {
  position: fixed;
  bottom: 0px;
  height: 65vh;
  background-color: #ccc;
  margin: 0px;
  border-radius: 0px 70px 0px 0px;
  padding: 20px 30px;
}

.counsel1 h3 {
  font-size: 25px;
  color: black;
  margin: 5px;
}

.counsel1 p {
  font-size: 12px;
  color: #333333;
  margin: 8px;
}

.counselCard {
  background-color: #EEEEEE;
  height: auto;
  margin: 20px 5px;
  border-radius: 20px;
}

.counIcon {
  display: inline-block;
  font-size: 25px;
  color: #333333;
  padding-top: 16px;
  text-align: center;
  line-height: 15px;
}

.counText {
  font-size: 8px;
  color: #333333;
  text-align: center;
}

.modalpage {
  background-color: #241332;
  border-radius: 0px 60px;
  top: 150px;
  padding: 5px 0px;
  width: 80%;
  margin: auto;
}

.modalpage h3 {
  color: #EEEEEE;
  font-size: 25px;
  margin: 0px;
  padding: 5px;
}

.modalpage h4 {
  color: gray;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  margin-bottom: 70px;
}

.modalpage p {
  color: #EEEEEE;
  font-size: 12px;
  margin: 0px;
  padding: 5px;
}

.downTab {
  position: fixed;
  bottom: 0px;
  background: radial-gradient(40px 45px at 50% -20px, rgba(0, 0, 0, 0) 49.5px, #EEEEEE 50.5px);  /* use same center point as with concentric circles but larger radius */
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  z-index: 500;
  width: 100%;
}

.downTab .row{
  padding: 1vh;
}

.space {
  height: 100px;
}

.growthCard {
  padding: 0px;
  margin: 15px 20px;
  background-color: white;
  border-radius: 40px 40px 40px 40px;
  text-align: center;
  padding: 10px;
}

.tableNav {
  width: 55%;
  margin: auto;
}

.growthT {
  margin: 5px 2px;
}

.growthTb {
  padding: 5px 0px;
  margin: 10px 0px;
}

.growthT h5, .growthTb h5 {
  margin: 0px;
  color: rgb(58, 57, 57);
  font-size: 1.6rem;
}

.modalCircle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  margin: 3vh auto;
  text-align: center;
  border: 5vw solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scoreHold {
  display: flex;
  align-items: center;
  justify-content: center;
}

#scored {
  font-size: 7rem;
}

.modalCircle p{
  font-size: 1.8rem;
}

.modalButton {
  width: 100%;
  height: auto;
  background-color: #8a56ac;
  border-radius: 30px;
  text-align: center;
  margin: 10px 0px;
}

.modalButton h3 {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 15px;
}

.chatSender, .chatReceiver {
  margin-top: 10px;
  padding: 0px;
}

.nameRoundImg {
  padding: 0px;
}

.chatImg {
  width: 30px;
  height: 20px;
  border-radius: 50%;
  text-align: right;
  padding: 5px;
}

.chatImgR {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  text-align: right;
  padding: 5px;
}

.chatImg img, .chatImgR img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chatName p {
  text-align: right;
  margin: 0px;
  color: white;
  font-size: 12px;
  padding: 8px 0px;
}

.chatNameR, .chatName {
  padding: 0px;
}

.chatNameR p {
  text-align: left;
  margin: 0px;
  color: white;
  font-size: 12px;
  padding: 8px 0px;
}

.chatboxSender {
  border-radius: 50px 0px 0px 50px;
  background-color: rgb(94, 93, 93);
  width: auto;
}

.chatboxReceiver {
  border-radius: 0px 50px 50px 0px;
  background-color: #8a56ac;
  width: auto;
}

.chatboxSender p, .chatboxReceiver p {
  font-size: 10px;
  color: white;
  margin: 0px;
  padding: 8px;
  font-weight: lighter;
}

.chatInput {
  position: fixed;
  bottom: 0px;
  z-index: 2;
  height: auto;
  background-color: rgb(192, 200, 209);
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

input[value="Continue"] {
  text-align: center;
}

.chatInput input {
  width: 100%;
  padding: 8px 0px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(43, 38, 38);
  background-color: transparent;
}

.addConvRow{
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.addConvBtn {
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #352641;
  z-index: 30;
}

.addConvBtn h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 11px;
}

/* Platinum */

#statusBar {
  padding: 2vh;
}

.profileContact ul li {
  padding-bottom: 10px;
}
.profileContact ul li .profileLabel{
  min-width: 60px !important;
  display: inline-block;
}

.collapseBtn{
  font-weight: 900;
  font-size: x-large;
  padding-top: 2vh;
  padding-bottom: 2vh;
}