#loader {
  position: absolute;
  right: 45%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

#loader::before , #loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #8a56ac;
  animation: prixClipFix 2s linear infinite ;
}
#loader::after{
  transform: rotate3d(90, 90, 0, 180deg );
  border-color:#352641;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
} 

#loader {
  display: none;
}

.loadCover {
  width: 100vw;
  height: 100vh;
  background-color: #30303050;
  position: absolute;
  z-index: 2000;
  display: none;
}

.pages {
  min-height: 100vh;
}